@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Syncopate';
    src: url("./syncopate.otf")
}

@font-face{
    font-family: 'Discord';
    font-weight: bold;
    src: url("../webfonts/DB.woff2");
}
@font-face{
    font-family: 'Discord';
    src: url("../webfonts/D.woff2");
}
.header-buttons{
    font-family: 'Discord';
    color: #ccc;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    
}
.updates-wrapper{
    overflow-y: scroll;
    overflow-x: hidden;
}
.update{
    width: 80%;
    min-height: 30vh;
    background-color: #11111a;
    margin-top: 5vh;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2vh;
}
.update-version{
    font-weight: bold;
    color: #fff;
    font-family: 'Noto Sans';
    font-size: 1.1em;
}
.update p{
    color: #ccc;
    font-family: 'Discord';
}
.header-buttons div{
    background: #202131;
    padding: 2vh;
    box-sizing: border-box;
    -webkit-app-region: none;
    margin-top: 1vh;
}
.header-buttons div:hover{
    background-color: #2a2b3a;
    cursor: pointer;
}
body,html{
    height: 100%;
    width:100%;
    overflow: hidden;
}
.updater-window{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    padding: 30vh 0;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(134.22deg, #27293E 2.12%, #090909 100.79%);
}
.app{
    background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    background: linear-gradient(134.22deg, #27293E 2.12%, #090909 100.79%);
    -webkit-app-region: drag;
}
.user{
    display: flex;
}
.avatar{
    border-radius: 50%;
    height: 48px;
}
.user-name{
    font-family: 'Discord';
    text-transform: none;
    margin-top: 5px;
    margin-left: 10px;
}
[show="false"]{
    display: none !important;
}
.discord-preview{
    margin-left: 2vw;
    margin-top: 2vh;
}
.menu{
    width: 20vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 2vh 0;
}
.discord-message{
    font-family: 'Noto Sans';
    font-weight: 300;
    color: #fff;
    padding: 2vh;
    width: 85%;
    margin-left: 3.8vw;
    margin-top: -4.5vh;
    
}

.discord-message code{
    background-color: hsl(223, calc(1 * 6.9%), 19.8%);
    border: 1px solid hsl(216, calc(1 * 7.2%), 13.5%);
    color: hsl(210, calc(1 * 2.9%), 86.7%);
}

.discord-date{
    font-family: 'Noto Sans';
    font-size: 0.8em;
    color: hsl(214, calc(1 * 4%), 65.3%);
    margin-top: 5px;
    margin-left: 0.8vw;
}
.logo{
    font-family: 'Syncopate';
    color: #fff;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}
button{
    -webkit-app-region: none;
}
.btn-styled{
    color: #fff;
    background: rgba(72, 84, 95, 0.24);
    backdrop-filter: blur(24.5059px);
    border-radius: 0px 30px 30px 0px;
    font-family: 'Syncopate';
    text-transform: uppercase;
    padding: 2vh 3vw;
    display: flex;
    transition: all 0.3s linear 0s;
    -webkit-app-region: none;
    user-select: none;
    text-decoration: none;
}
.second-btn-styled{
    color: #fff;
    text-decoration: none;
    background: rgba(72, 84, 95, 0.24);
    backdrop-filter: blur(24.5059px);
    border-radius: 30px;
    font-family: 'Syncopate';
    text-transform: uppercase;
    padding: 2vh 3vw;
    display: flex;
    transition: all 0.3s linear 0s;
    -webkit-app-region: none;

    user-select: none;
}
.btn-styled:hover, .second-btn-styled:hover{
    background-color: rgba(72, 84, 95, 0.54);
    cursor: pointer;
}
.window{
    width: 100%;
    height: 100%;
}
.account-form{
    display: flex;
    width: 100%;
    column-gap: 1vw;
    margin-top: 2vh;
}
.main{
    padding: 5vh;
    width: 100%;
    height: 100%;
    position: relative;
}

.input-styled{
    color: #fff;
    text-decoration: none;
    background: rgba(72, 84, 95, 0.24);
    backdrop-filter: blur(24.5059px);
    border-radius: 30px;
    font-family: 'Noto Sans';

    padding: 2vh 3vw;
    display: flex;
    transition: all 0.3s linear 0s;
    -webkit-app-region: none;
    outline: none;
    border: none;
    resize: none;
}
.hidden{
    display: none !important;
}
.background-popup{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    left: 0.6vw;
    background: rgba(0, 0, 0, 0.31);
    top: 0.9vh;
    overflow: hidden;
    display: flex;
    -webkit-app-region: none;
    justify-content: center;
}

.popup{
    --width: 50vw;
    position: absolute;
    z-index: 3;
    height: 55vh;
    left: calc(50% - var(--width) / 2);
    top: 20vh;
    width: var(--width);
    background-color: #37393d;
    border-radius: 10px;
}

select, option{
    -webkit-app-region: none;
}

.account-form .input-styled{
    width: 50%;
}
.input-styled::placeholder{
    color: rgba(255, 255, 255, 0.19);
    font-family: 'Syncopate';
    text-transform: uppercase;
}
option{
    background-color: #27293E ;
    outline: none;
    border: none;
}
.button-start-template, .edit-template, .delete-template{
    background-color: transparent;
    color: #fff;
    border: none;
}
.user-name{
    color: #fff;
}
.activation{
    display: flex;
    flex-direction: column;
    width: 60%;
    row-gap: 4vh;
    margin-left: 3vw;
    margin-top: 20vh;
    position: relative;
}
#discordlink{
    -webkit-app-region: none;
    cursor: pointer;
}
.activation input{
    text-align: center;
}
.hint-name{
    color: rgb(180, 180, 180);
    font-family: 'Noto Sans';
    text-align: center;
    display: block;
    width: 100%;
}
.message i:hover{
    color: rgb(223, 223, 223);
    cursor: pointer;
}
.fa-pause{
    color: red;
}
.d-spoiler{
    background-color: #27293E;
}
.message-name{
    flex: 1;
}
.timer{
    flex: 1
}
.edit .form{
    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: 2vh;
    margin-top: 2vh;
}
.account-list, .messages-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.account, .message{
    height: 10vh;
    width: 88%;
    margin-top: 2vh;
    background: rgba(0, 0, 0, 0.31);
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}
.account span, .message span{
    color: #fff;
    font-family: 'Syncopate';
    text-transform: uppercase;
}
.app-version{
    color: #ccc;
    font-family: 'Discord';
    position: absolute;
    bottom: 5px;
    left: 20px;
}